{% extends "base.html" %}
{% load static %}

{% block title %} About Jaaja Mumalansoga {% endblock title %}

{% block description %}
<meta
    name="description"
    content="Who is Jaaja Mumalansonga, He is highly esteemed because of his compassionate and supportive approach as a traditional healer. he's renowned for her personalized care, ensuring he comprehends the unique needs of each individual. Whether in-person or online, he has assisted numerous individuals from across the globe, earning widespread recognition for his dedication and the working wizardry that accompanies his in addressing diverse challenges."
/>
{% endblock description %}

{% block content %}
<div class="w-full flex items-center justify-center text-center max-w-4xl mx-auto min-h-[100vh]">
    {% include '../inners/about.html' %}
</div>
    {% include '../footer.html' %}
{% endblock content %}
