{% extends "base.html" %}

{% load static %} 

{% block title %} Contact Jajja Mumalansoga {% endblock %}

{% block description %}
<meta name="description"
  content="Please don't hestitate to contact Buganda Ancestral Witch Jajja Mumalansoga to get more information You can call or whatsapp jajja on +256 774 606 345 Uganda " />
{% endblock description %}

{% block content %}
<div id="contact">
  <section class="mb-2 text-center">
    <div class="py-12 md:px-12">
      <div class="container mx-auto xl:px-32">
        <div class="grid items-center lg:grid-cols-2">
          <!-- form continer -->
          <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,93%,1)] dark:bg-neutral-900 dark:shadow-black/20 md:px-12 lg:-mr-14"
            >
              <!-- contact inforamtion -->
              <div class="flex flex-col space-y-2 mb-4">
                <a href="tell:+256 774 606 345" class="flex items-center space-x-2">
                  <div
                    class="h-8 aspect-square flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                      ></path>
                    </svg>
                  </div>
                  <p>+256 774 606 345</p>
                </a>

                <a href="mailTo:jamumalansoga@gmail.com" class="flex items-center space-x-2">
                  <div
                    class="h-8 aspect-square flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                      ></path>
                      <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                  </div>
                  <p>jamumalansoga@gmail.com</p>
                </a>
              </div>

              <!-- message form -->
              <form method="post" action="{% url 'send_contact_message' %}">
                {% csrf_token %}
                <div class="relative mb-6">
                  {{ form.full_name }}
                  {% if form.full_name.errors %}
                  {% for error in form.full_name.errors %}
                  <p class="text-sm text-red-500 font-light py-1">
                    {{ error }}
                  </p>
                  {% endfor %} 
                  {% endif %}
                </div>

                <div class="relative mb-6">
                  {{ form.tell_phone }} 
                  {% if form.tell_phone.errors %} 
                  {% for error in form.tell_phone.errors %}
                  <p class="text-sm text-red-500 font-light py-1">
                    {{ error }}
                  </p>
                  {% endfor %} 
                  {% endif %}
                </div>

                <div class="relative mb-6">
                  {{ form.email }} 
                  {% if form.email.error %} 
                  {% for error in form.email.errors %}
                  <p class="text-sm text-red-500 font-light py-1">
                    {{ error }}
                  </p>
                  {% endfor %} 
                  {% endif %}
                </div>

                <div class="relative mb-6">
                  {{ form.location }}
                  {% if form.location.errors %}
                  {% for error in form.location.errors %}
                  <p class="text-sm text-red-500 font-light py-1">
                    {{ error }}
                  </p>
                  {% endfor %}
                  {% endif %}
                </div>


                <div class="relative mb-6">
                  {{ form.message }}
                  {% if form.message.errors %} 
                  {% for error in form.message.errors %}
                  <p class="text-sm text-red-500 font-light py-1">
                    {{ error }}
                  </p>
                  {% endfor %}
                  {% endif %}
                </div>

                <button
                  type="submit"
                  class="inline-block border border-blue-500 text-blue-500 w-full h-12 rounded-full shadow-md"
                >
                  Send
                </button>
              </form>
            </div>
          </div>

          <!-- map container -->
          <div class="md:mb-12 lg:mb-0">
            <div
              class="relative h-[700px] rounded-lg shadow-lg dark:shadow-black/20"
            >
              <iframe
                src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                class="absolute left-0 top-0 h-full w-full rounded-lg"
              ></iframe>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37746.39723228317!2d31.57709629749285!3d0.9404780904426723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17635384ad453143%3A0x91fd1a0000f7498d!2sNtwetwe!5e0!3m2!1sen!2sug!4v1714562963237!5m2!1sen!2sug"
                class="absolute left-0 top-0 h-full w-full rounded-lg"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% include '../footer.html'%}

{% endblock content %}
