{% extends "base.html" %}

{% load static %}

{% block title %}Testimonials {% endblock %}


{% block content %}
<div class="grid mb-8 lg:mb-12 lg:grid-cols-2 px-2 sm:px-10 md:px-28">
    {% if page_obj.object_list %}
        {% for testimonial in page_obj.object_list %}
            <figure
            class="flex flex-col justify-center items-center p-8 text-center md:p-12">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        {{ testimonial.title }}
                    </h3>
                    <p class="my-4">{{ testimonial.description }}</p>
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="{{ testimonial.image.url }}" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>{{ testimonial.full_name }}</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                            {{ testimonial.location }}
                        </div>
                    </div>
                </figcaption>
            </figure>

            <figure
            class="flex flex-col justify-center items-center p-8 text-centermd:p-12 ">
                <img src="{{ testimonial.image.url }}" alt=" {{ testimonial.title }}" class="aspect-video object-cover">
            </figure>
        {% endfor %}
    {% endif %}
</div>

{% if page_obj.object_list %}
<div class="flex items-center justify-center space-x-6 w-full h-12 mt-10 ">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"
            class="h-12 bg-neutral-100  dark:bg-neutral-900 dark:text-neutral-100 px-4 aspect-video flex items-center justify-center w-fit ">
            <div class="min-w-[2rem] w-fit px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-left">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </div>
            <span class="mr-3">Previous </span>
        </a>
    {% endif %}

    <div class="w-28 flex items-center justify-center ">
        Page {{ page_num }}
    </div>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
            class="h-12 bg-neutral-100 dark:bg-neutral-900 dark:text-neutral-100 px-4 aspect-video flex items-center justify-center">
            <span>Next </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-chevron-left">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </a>
    {% endif %}
</div>
{% endif%}


{% include '../footer.html'%}
{% endblock content %}