<div>

    <p style="height: fit-content; display: flex; align-items: center; background-color: #387bf7; padding: .5rem; color: white; font-weight: bold;">
        Am {{ full_name }}, from {{ location }}
    </p>

    <p style="padding: .5rem 0; display: flex; align-items: center">
        Mail to: {{ email }}
    </p>
    <p style="padding: .5rem 0; display: flex; align-items: center">
        Tell : {{ tell_phone }}
    </p>

    <p style="margin-bottom: 1rem">
        Please Jajja Mulansonga: {{ message }}
    </p>

    <div style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    ">
        <a style="
        width: fit-content;
        padding: 0.5rem 1.5rem;
        background-color: #0d6ce9;
        color: white;
        border-radius: 3rem;
        text-decoration: none;
      " href="{{ domain }}email/verify/{{ token }}/?codeID={{ uidb64 }}">
            Reply
        </a>
    </div>

</div>