{% load static %}
<div id="jaaja"
    class="flex items-start flex-col space-y-10 px-6 sm:px-10 md:px-28 pt-10">
    <div class="w-full  aspect-video flex items-center justify-center mb-5 md:mb-0">
        <img src="{% static 'images/jajja-photo.jpg' %}" alt="">
    </div>

    <div>

        <div class="mb-4">
            <h3 class="capitalize text-3xl md:text-4xl">About Jaaja</h3>
            <p class="md:text-base">
                Jaaja Mumalansonga is highly esteemed because of his compassionate and supportive approach as a
                traditional healer.
                he's renowned for her personalized care, ensuring he comprehends the unique needs of each individual.
                Whether
                in-person or online, he has assisted numerous individuals from across the globe, earning widespread
                recognition for his
                dedication and the working wizardry that accompanies his in addressing diverse challenges.
            </p>
        </div>

        <div class="">
            <h4 class="text-lg mb-2 capitalize">You must know</h4>
            <p class="md:text-base">
                Jaaja Mumalansonga is highly regarded for his kindness and assistance as a traditional healer. He's
                well-known for his
                personalized approach to solving people's issues, ensuring he fully comprehends their needs. Whether
                in-person or
                online, he has aided numerous individuals worldwide, earning widespread admiration for his caring nature
                and effective
                problem-solving skills. Please note that all individuals seeking his services must be 18 years and above
                and of sound
                mind when requesting or participating in spells. Additionally, it is advisable to consult a doctor if
                the issue
                persists.
            </p>
        </div>
    </div>

</div>