{% load static %}


<section>
  <div class="py-8 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6 sm:px-10 px-4">
      <div class="mx-auto max-w-screen-sm">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimonials</h2>
          <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">See here some of the most thankfull clients of Jajja Mumalansoga</p>
      </div> 
      <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">

        {% for testimonial in testimonials %}
        <figure class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
            <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ testimonial.title }}</h3>
                <p class="my-4">{{ testimonial.description }}</p>
               
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
                <img class="w-9 h-9 rounded-full" src="{{ testimonial.image.url }}" alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left">
                    <div>{{ testimonial.full_name }}</div>
                    <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                   {{ testimonial.location }}
                    </div>
                </div>
            </figcaption>    
        </figure>

        <figure
            class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:border-gray-700">
            <img src="{{ testimonial.image.url }}" alt="{{ testimonial.title }}" class="object-cover aspect-video">
        </figure>
        {% endfor %}
        
      </div>
</section>