{% extends "base.html" %} 
{% load static %} 

{% block title %}Service || {{ service.title }} {% endblock %}

{% block description %}
<meta name="description" content="{{ service.description }}">
{% endblock description %}

{% block content %}
<div class="flex items-start justify-between">
  <div class="lg:w-4/6 px-6 sm:px-10 md:px-16 max-w-4xl mx-auto">
    <div class="w-full aspect-video">
      <img src="{{service.image.url}}"" alt="" class="w-full h-full
      object-cover rounded-2xl">
    </div>

    {% if user.is_authenticated %}
    <div class="h-12 flex items-center space-x-4 mt-6">
      <a href="/jajja/service/service/{{ service.id }}/change/" class="h-11 aspect-square flex items-center justify-center bg-neutral-200 rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
          <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
        </svg>
      </a>
    </div>
    {% endif %}

    <div class="pt-6 pb-5">
        <h2 class="text-xl sm:text-2xl md:text-3xl font-bold pb-4">
            {{ service.title }}
        </h2>

        <p class="font-light text-base dark:text-neutral-400 text-neutral-700">
            {{ service.description }}
        </p>
    </div>
  </div>
</div>

{% include '../footer.html'%}
{% endblock content %}
